nav{
 background: #24353f;
     /* box-shadow:0 8px 15px -5pxrgba(0, 0, 0, 1); */
}

section{
       background: #24353f;
}

.welcome-box{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

a{
    text-decoration: none;
}

a:hover{
 text-decoration:underline ;
}